* {
    font-family: 'Times New Roman', Times, serif;
}

h1, h2 {
    text-align: center;
}

img {
    width: 310px;
    height: auto;
}

ul, ol {
    background-color: blue;
    border-radius: 15px;
}

li {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.recipe-list {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.container {
    width: 500px;
    margin: auto;
    text-align: center;
}

.list {
    width: 50%;
    margin: auto;
}

.ingredient-list {
    text-align: left;
    background-color: bisque;
    padding: 8px 25px;
}

.ingredient-list li {
    color: grey;
}